body {
  margin: 0;
  padding-top: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  text-align: left;
  color: rgb(1, 69, 37);

  .header-content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .logout {
    width: 20px;
    object-fit: contain;
  }

  .header-user-info {
    margin-right: 10px;
    @media screen and (max-width: 600px) {
      display: none;    
    }
  }
}

nav {
  margin-left: 30px;

  @media screen and (max-width: 600px) {
    margin-left: 10px;
  }
}

a {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
}

footer {
  box-sizing: border-box;
  height: 60px;
  padding: 20px;
  background-color: #222;
  color: #fff;  
  text-align: center;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      border-bottom: 1px solid #e6e6e6;
      background-color: #014525;
      color: white;
    }

    th {
      padding: 8px 12px;
    }
  }

  tbody {

    .clickable-row {
      cursor: pointer;
    }

    tr {
      border-bottom: 1px solid #e6e6e6;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    td {
      padding: 8px 12px;
      text-align: center;
    }
  }
}

.label-input {
  margin-bottom: 10px;

  label, input {
      display: block;
  }

  label {
      text-align: left;
  }

  input {
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      box-sizing: border-box;
      width: 100%;
      margin: 5px 0;
      padding: 8px 12px;
  }

  .error {
      color: red;
      font-size: 12px;
  }
}

.page {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1000px;
  padding: 20px;
  min-height: calc(100vh - 130px);

  h1, p {
    text-align: center;
  }
}

.submit, .delete {
  width: 100%;
  color: white;
  border: none;
  padding: 12px;

  &:disabled {
    background-color: #ccc;
  }
}

.submit {
  background-color: rgb(1, 69, 37);
}

.delete {
  background-color: #d9534f;
}

.default {
  background-color: rgb(1, 69, 37);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;

  &:disabled {
    background-color: #ccc;
  }
}

.dashboard {
  margin-top: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  box-sizing: border-box;
  background-color: white;
  width: 80%;
  max-width: 1000px;
  height: 80%;
  padding: 40px;
  overflow-y: auto;
}

.end-btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.choice {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .choice-radio {
    width: 20px;
  }

  .choice-input {
    flex: 1;
    margin-left: 10px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.answer-box {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 2px 0 0;
  padding: 10px 10px 10px 40px;
  background-color: #E7E9EB;
  cursor: pointer;
  word-wrap: break-word;
  border: none;
  text-align: left;

  label {
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 11px;
    left: 12px;
    height: 15px;
    width: 15px;
    margin: 0;
    background-color: #fff;
  }

  &:hover {
    background-color: #ddd;
  }

  &.selected {
    background-color: #ddd;
  }

  &:disabled {
    cursor: default;
    color: black;   

    > * {
      cursor: default;
    }

    &.answer-correct {
      background-color: #5cb85c;
      color: white;
    }

    &.answer-incorrect {
      background-color: #d9534f;
      color: white;
    }
  }
}

.unanswered, .correct, .incorrect {
  font-weight: 500;
}

.unanswered {
  color: gray;
}

.correct { 
  color: #5cb85c;
}

.incorrect {
  color: #d9534f;
}